/*
 Textile Toolbar jQuery plugin

 Based on Redmine reStructuredText Formatter
 developed by William Melody
 https://github.com/alphabetum/redmine_restructuredtext_formatter

 Adapted as generic jQuery plugin by Maurizio Manetti

*/

.textile-toolbar {

  margin-bottom: 5px;

  button {
    margin-right: 4px;
    width: 24px;
    height: 24px;
    padding: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: #ddd;
    background-color: #f7f7f7;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

  button:hover {
    border-color: #bbb;
    background-color: #e5e5e5;
  }

  .tt-spacer {
    width : 0;
    font-size: 1px;
    margin-right: 6px;
  }
  .tt-strong {
    background-image: image-url('textileToolbar/bt_strong.png');
  }
  .tt-em {
    background-image: image-url('textileToolbar/bt_em.png');
  }
  .tt-ins {
    background-image: image-url('textileToolbar/bt_ins.png');
  }
  .tt-del {
    background-image: image-url('textileToolbar/bt_del.png');
  }
  .tt-code {
    background-image: image-url('textileToolbar/bt_code.png');
  }
  .tt-h1 {
    background-image: image-url('textileToolbar/bt_h1.png');
  }
  .tt-h2 {
    background-image: image-url('textileToolbar/bt_h2.png');
  }
  .tt-h3 {
    background-image: image-url('textileToolbar/bt_h3.png');
  }
  .tt-ul {
    background-image: image-url('textileToolbar/bt_ul.png');
  }
  .tt-ol {
    background-image: image-url('textileToolbar/bt_ol.png');
  }
  .tt-pre {
    background-image: image-url('textileToolbar/bt_pre.png');
  }
  .tt-link {
    background-image: image-url('textileToolbar/bt_link.png');
  }
  .tt-img {
    background-image: image-url('textileToolbar/bt_img.png');
  }
  .tt-help {
    background-image: image-url('textileToolbar/bt_help.png');
  }

}